* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-family: 'Roboto Slab', serif;

    --color1: rgb(229, 181, 78);
    --color2: rgb(14, 47, 89);
    --color3: rgb(234, 221, 195);
}

body {
    width: 100%;
    height: auto;
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
}

#photo {
    background-image: url("./pictures/owl.jpg");
    background-position: center;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}



#logo {
    background-color: rgba(96, 153, 228, 0.40);
    width: 100%;
    height: clamp(35px, 11vw, 120px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 12vh;
}

#logo img {
    width: clamp(23px, 8vw, 80px);
    height: auto;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: clamp(15px, 4vw, 50px);
}

#photo p {
    background-color: rgba(96, 153, 228, 0.40);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 0.5vw;
    gap: 5px;
    font-size: 1.3vw;
}

#form {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    color: var(--color3);
    padding: 2vh 5vw;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    gap: 4vh;
}


#text {
    display: block;
    text-align: center;
    margin-top: 5vh;
}

h3 {
    font-size: clamp(12px, 3vw, 18px);
}

h3:first-child {
    padding-bottom: 2vh;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 1vw 3vh 1vw;
    gap: 0.7vh;
    border-radius: 1vh;
    border: 4px double var(--color3);
    font-size: clamp(10px, 2.7vw, 18px);
}

#info legend {
    font-size: clamp(15px, 3vw, 20px);
}

.inputDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5vh;
    width: 50vw;
}

input {
    padding: 1vmin;
    background-color: var(--color3);
    border-radius: 1vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

input:invalid {
    border: 2px solid rgb(252, 128, 128);
}

input:valid {
    border: 2px solid rgb(129, 163, 90);
}

input:focus {
    border: 5px solid rgb(172, 210, 222);
    box-shadow: 3px 3px 6px rgb(172, 210, 222);
    background-color: rgb(240, 232, 216);
}

::placeholder {
    color: rgb(116, 115, 115);
}

#button {
    border: none;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    font-size: clamp(13px, 1.3vw, 20px);
}

#submitButton {
    font-size: clamp(13px, 1.3vw, 20px);
    padding: 1vh 1vw;
    border-radius: 1vh;
    background-color: var(--color1);
}

a {
    color: rgb(204, 143, 21);
}

h5 {
    font-size: clamp(20px, 2vw, 50px);
}
